@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
</head>
<body>
<header class="topbar">
    <h1 class="fill">
        <a href="@routes.Application.contacts()">
            Contacts App
        </a>
    </h1>
</header>

<section id="main" style="padding-top:50px">
    <div class="container">
        <div class="row">
            @content
        </div>
    </div>
</section>

</body>
</html>